<h1> Log In Form </h1>


<%= form_with url: login_path, method: :post do |form| %>
  <%= form.label :email, "Email" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password %>
  <%= form.label :location, "Location" %>
  <%= form.text_field :location, value: cookies[:location] %>
  <%= form.submit "Log In" %>
<% end %>

